#chatspace {
    min-width: 800px;
    min-height: 400px;
}

#calendarControls{
  position: relative;
  left : 650px;
  top : -300px;

}


/* might need this for debugging */
#showEvents {
  display : none;
}

#clearEvents {
  display : none;
}


#hoverEvents {
    min-width: 300px;
    min-height: 75px;
}

#messageTextID {
  min-width: 345px;
}


#wallText {
  position: relative;
  min-width: 500px;
  min-height: 60px;
  left: 60px;
}

#wallTitle {
  position: relative;
  min-width: 500px;
  min-height: 60px;
  left: 60px;
}


#wallDisplay{
  position: relative;
  left : 150px;
}


#stanText {
  max-width: 400px;
  position: relative;
  left : 425px;
  top : -240px;
}

#stanCaption{
  position: relative;
  top : -175px;
}

#dropdownMenu1 {
  min-width: 257px;
  min-height: 50px;
}

#boardNameID {
   min-height: 50px;
}

#messageTextID{
   min-height: 50px;
}

.caret {
    border-width: 10px;
}



.btn-file {
  position: relative;
  overflow: hidden;
  max-width: 200px;
  min-width: 200px;
  max-height: 60px;
  min-height: 60px;
  left: 50px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  position: relative;
  left: 60px;
  background-color: white !important;
  cursor: text !important;
  min-height: 60px;
  max-width: 300px;
}
