#chatspace {
    min-width: 800px;
    min-height: 400px;
}

#calendarControls{
  position: relative;
  left : 650px;
  top : -300px;

}


/* might need this for debugging */
#showEvents {
  display : none;
}

#clearEvents {
  display : none;
}


#hoverEvents {
    min-width: 300px;
    min-height: 75px;
}

#messageTextID {
  min-width: 345px;
}


#wallText {
  min-width: 500px;
    min-height: 60px;
}


#wallDisplay{
  position: relative;
  left : 150px;

}


#stanText {
  max-width: 400px;
  position: relative;
  left : 425px;
  top : -240px;
}

#stanCaption{
  position: relative;
  top : -175px;
}

