#chatspace {
    min-width: 800px;
    min-height: 400px;
}

#calendarControls{
  position: relative;
  left : 650px;
  top : -300px;

}


/* might need this for debugging */
#showEvents {
  display : none;
}

#clearEvents {
  display : none;
}


#hoverEvents {
    min-width: 300px;
    min-height: 75px;
}

#messageTextID {
  min-width: 345px;
}
